<<<<<<< HEAD
body {
	font-family: 'SingleDayRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	background-image: url("img\Screenshot 2023-11-12 214204.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}


.column12 {
	font-family: 'SingleDayRegular';
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	background-color:#dda0dd;
}
.column1 {
	font-family: 'SingleDayRegular';
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	background-color: #dda0dd;
}

.column2 {
	font-family: 'SingleDayRegular';
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	background-color: #dda0dd;
}

.column3 {
	font-family: 'SingleDayRegular';
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	background-color: #dda0dd;
}

.column4 {
	font-family: 'SingleDayRegular';
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	background-color: #dda0dd;
}
=======
    .equal-height-row {
        display: flex;
        flex-wrap: wrap;
    }

    .equal-height-col {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    .container-fluid {
        overflow: hidden;
    }

    .bordered-div {
        border: solid;
    }

    .col {
        background-color: lavenderblush; /* Default color, can be overridden by media queries */
    }

>>>>>>> 484f1c11b747a54a7008734dac661f0ab07453a7
    @media only screen and (min-width: 768px) {
        .col {
            background-color: lightgray;
        }
    }

    @media only screen and (min-width: 992px) {
        .col {
            background-color: lightgoldenrodyellow;
        }
    }

    @media only screen and (min-width: 1200px) {
        .col {
            background-color: lavender;
        }
    }

    @media only screen and (orientation: landscape) {
        body {
            background-color: lightblue;
        }
    }
